@import url('https://fonts.google.com/specimen/Manjari#standard-styles');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('images/houses/casa-campo.jpeg');  
}

.ul-hover a:hover{
  font-size: 1.3rem;
  color: rgb(105, 56, 105);
}





