@import url('https://fonts.google.com/specimen/Manjari#standard-styles');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Manjari', sans-serif;
  font-size: 14px;
  background: radial-gradient(rgb(105, 103, 103) 2px, transparent 3px), radial-gradient(rgb(105, 103, 103) 2px, transparent 3px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  color: #776f6f;

}
.gridContainer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 600px 200px;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-gap: 5px;
}
.gridContainerSales, .gridContainerRent{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 900px 200px;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-gap: 5px;
}
.gridContainerContact{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 500px 200px;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-gap: 5px;
}
header{
  border-radius: 25px;
  border: 2px solid #73AD21;
  background-color: rgb(105, 56, 105); 
}
.headerFlex{
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.headerFlex img{
  width: 5rem;
  justify-content: flex-start;
  padding-right: 20px;
  transition: width 1s;
}

.headerFlex ul{ 
  list-style: none;
  font-size: 15px;
  padding: 0px 10px;
  font-weight: bold;
}
.headerFlex li{
  display: inline;
  padding: 0px 10px 10px;
  color: white;
}
.liHover a:hover{
  color:green;
  font-size: 1.5rem;
}
a{
  text-decoration: none;
  color:white;
  list-style: none;
}
h1{
  font-size: 20px;
  padding: 20px;
  color: white; 
  text-align: center; 
}
h2{
  font-size: 18px;
  color:white;
  text-align: center;
  padding: 10px;
}

p{
  color:rgb(39, 10, 170);
  text-align: center;
}
img{
  width: 50%;
  height: auto; 
}
main{
  grid-area: main;
  border-radius: 25px;
  border: 2px solid #73AD21;
}
.hero-image{
  background-image: url("images/office.jpeg");
  padding: 20px 0px 20px 0px;
  height: 300px;
  border-radius: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;
}

.titulo-busca, .select{
  color:white;
  padding: 15px;
  
}
.destacadas{
  font-size: 25px;
  padding: 25px;
  text-align: center;
  color:rgb(105, 56, 105);
  text-shadow: 2px 2px;
}

.formContact{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 4rem; 
}
.formContact form{
  flex-direction: colum;
  width: 12rem;
}
.input:focus{
  border-radius: 25px;
  border: 2px solid #73AD21;
  width: 258px;
  font-size: 15px;
  padding: 5px;
  background: rgb(219, 219, 190);
  color: black;
}

.textarea, .button{
  border-radius: 25px;
  border: 2px solid #73AD21;
  border-radius: 25px;
  font-size: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cardIndexBusca{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
  gap: 4rem; 
  font-size: 18px;
 
}
.cardIndexBusca form{
  flex-direction: colum;
  width: 30rem;
  background-color: rgb(105, 56, 105);
}
select{
  padding: 10px;
  gap: 10px;
}

.flexContainerImg, .flexContainerIndex{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 4rem;
}
.imgCardText:hover{
  box-shadow: 1px 1px 3px 1px green;
  transform: translate(5px,5px);
}
.imgCardIndex:hover{
  box-shadow: 1px 1px 3px 1px green;
  transform: translate(5px,5px);
}
.imgCardText, .imgCardIndex{
  width: 12rem;
  background-color: rgb(180, 173, 173);
}
.imgCardText img{
  width: 100%;
}
.imgCardText a{
  text-align: center;
}
.imgCardIndex img{
  width: 100%;
}
.flexIframe{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}
.cardTextSomos{
  width: 25rem;
  background-color: rgb(105, 56, 105); 
  
}
.cardTextSomos h2{
  text-align: center;
  font-size: 18px;
  color:white;
}
.cardTextSomos p:hover{
  text-align: center;
  color:white;
  width: 300px;
  height: 300px;
  
}
.cardTextSomos iframe{
  width: 100%;
}
footer{
  grid-area: footer;
  border-radius: 25px;
  border: 2px solid #73AD21;
  background-color: rgb(105, 56, 105);
}
.footer{
  font-size: 15px;
  font-weight: bold;
  color:white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.footer p{
  color: white;
  padding: 2px;
}
.footer a:hover{
  color:green;
  font-size: 18px;
}

.imgWsp{
  height: 60px;
  width: 60px;
  padding: 10px 0px 5px 0px;
}

/* mobile first*/

@media screen and (max-width: 768px){

  body{
    
    background: none;
    background-size: none;
    background-position:none;
  }
  
  header {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: dimgrey;
    font-size: 12px;
}
  main{
    grid-column: 1/-1;
  }
  .gridContainer{
    grid-column: 1/-1;
    grid-template-rows: 100px 200px;
    grid-template-areas: 
    "header"
    "main";
  }
  
  .headerFlex img{
    transition: none;
  }
  
  .flexContainerIndex {
    flex-wrap: wrap;
  }
  .flexContainerIndex img{
    width: 100%;
  }
  .headerFlex{
    grid-column: 1/-1;
  }
  
  .headerFlex li{
    display: none;
    padding: 0px 10px 10px;
    color: white;
    background-color: black;
  }
  header:hover  li{
    display: inline;
  }

  .cardIndexBusca{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }
  .cardIndexBusca form{
    width: 20rem;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .imgCardText{
    width: 15rem;
  }
  .imgCardText img{
    width: 100%;
  }

  .flexContainerImg{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .flexIframe{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }
  .cardTextSomos{
    width: 18rem;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
 
  footer{
    display: none;
  }
  .footerDisplay{
    display: block;
  }
}




