<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Tag de Viewport-->
    <meta name="description" content="saber mas de nosotros">
    <meta name="keywords" content="casas departamentos arriendos y ventas">
  
    <link rel="shortcut icon" href="../images/favicon-casa.svg">
    <title>Nosotros</title>
  
    <link rel="stylesheet" href="../sass/custom.css">
  </head>
<body>
  <header>
    <div class="has-bg-img bg-purple bg-blend-overlay">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="nav-brand" href="../index.html"><img class="bg-img m-3 grow" src="../images/favicon-casa.svg" alt="logo" width="70" height="70"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mt-2 mt-lg-0 font-weight-light">
            <li class="nav-item active p-2 bd-highlight">
              <a class="nav-link color" aria-current="page" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item active  p-2 bd-highlight">
              <a class="nav-link color" href="sales.html">Venta</a>
            </li>
            <li class="nav-item active p-2 bd-highlight">
              <a class="nav-link color" href="rent.html">Arriendo</a>
            </li>
            <li class="nav-item active p-2 bd-highlight">
              <a class="nav-link color" href="about.html">Nosotros</a>
            </li>
            <li class="nav-item active p-2 bd-highlight">
              <a class="nav-link color" href="contact.html">Contacto</a>
            </li>
          </ul>       
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="container mt-5 mb-3 p-3 bg-secondary justify-content-center" style="max-width: 40rem;">
      <div class="card mb-3 bg-secondary">
        <h5 class="card-title text-center" style="color: rgb(105, 56, 105);">Quienes Somos?!</h5>
        <iframe class="card-img-top" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53277.92725697164!2d-70.64426952096744!3d-33.42662162967536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf7c6e8366f7%3A0x87effcc00a478d7c!2sProvidencia%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1648964134691!5m2!1ses-419!2scl" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="card-body text-center text-white bg-secondary">
          <p class="card-text lh-sm font-weight-bold" style="color: rgb(105, 56, 105);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit necessitatibus eos libero facilis numquam, molestias veniam sint sunt blanditiis voluptatem voluptatibus corporis excepturi. Quam nobis sed cum aperiam expedita sit..</p>
        </div>
      </div>
    </div>
  </main>
  <footer class="text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-2 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-2">
            <a href="about.html"><h6 class="text-uppercase mb-4 font-weight-bold grow">Tus Propiedades</h6></a>
            <p class="lh-sm">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi architecto nulla, maiores nostrum porro, aspernatur, itaque repellendus voluptatibus accusantium recusandae reiciendis nesciunt? Asperiores odio fuga veniam nobis excepturi expedita itaque?
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-2">
            <h6 class="text-uppercase mb-4 font-weight-bold">Servicios</h6>
            <p>
              <a href="sales.html" class="font-weight-bold grow">Ventas de Inmuebles</a>
            </p>
            <p>
              <a href="rent.html" class="font-weight-bold grow">Arriendos de Inmuebles</a>
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-2">
            <a href="contact.html"><h6 class="text-uppercase mb-4 font-weight-bold grow">Contacto</h6></a>
            <p>Agente Evelyn Gomez Frez</p>
            <p><i class="fas fa-home mr-3"></i> Chile, Providencia 10012</p>
            <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i>+569 12345678</p>
          </div>
        </div>
      </section>
      <hr class="my-2">
      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <div class="p-2">
              © 2022 Copyright: Comisión 28135 Evelyn Gomez Frez
            </div>
          </div>
        </div>
      </section>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html> 