<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../images/favicon-casa.svg">
  <link rel="stylesheet" href="../style.css">
  <title>TusPropiedades</title>
</head>
<body class="gridContainer">
  <header class="headerFlex">
    <a href="../index.html"><img src="../images/favicon-casa.svg" alt="logo"></a>
    <nav>
      <ul class="liHover">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="sales.html">Venta</a></li>
        <li><a href="rent.html">Arriendo</a></li>
        <li><a href="about.html">Nosotros</a></li>
        <li><a href="contact.html">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <main class="hero-image">
    <div class="flexIframe">
      <div class="cardTextSomos">
        <h2>Quienes somos?!</h2>
        <div>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A officiis ea odio quasi officia itaque iure commodi animi! Voluptate commodi inventore doloremque cumque rerum aliquid voluptatem saepe adipisci blanditiis ab?</p>
        </div>
      </div>
      <div class="cardTextSomos">
        <h1>Ubicación</h1>
        <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114937.54840575215!2d-80.21035427019991!3d25.81022463762155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a6172bfeddb9%3A0x37be1741259463eb!2sMiami%20Beach%2C%20Florida%2C%20EE.%20UU.!5e0!3m2!1ses-419!2scl!4v1645496299057!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <!--INDICADORES ECONOMICOS -->
    <div class="footer">
      <a href=""><h3>Agente Inmobiliario</h3></a>
      <p>Evelyn Gomez Frez</p>
      <p>Comisión 28135</p>
      <p>+569 999 99 99</p>
      <p>agente@gmail.com</p>
      <a href="contact.html"><img class="imgWsp"  src="../images/whatsapp-icon.svg" alt="wsp"></a>
    </div>
 </footer>
</body>
</html>