<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Tag de Viewport-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="shortcut icon" href="../images/favicon-casa.svg">
    <title>TusPropiedades</title>
    <link rel="stylesheet" href="style.css">
  </head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(105, 56, 105);">
      <a class="nav-brand" href="../index.html"><img src="../images/favicon-casa.svg" alt="logo" width="100" height="100"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0 font-weight-light ul-hover">
          <li class="nav-item active">
            <a class="nav-link text-white" href="../index.html">Inicio<span class="sr-only">)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="sales.html">Venta<span class="sr-only">)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="rent.html">Arriendo<span class="sr-only">)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="about.html">Nosotros<span class="sr-only">)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="contact.html">Contacto<span class="sr-only">)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-sm-6">
          <div class="card bg-light mb-3 justify-content-center">
            <div class="card-body" style="background-color: rgb(128, 89, 128);">
              <h5 class="card-title text-white text-center">Quienes somos?!</h5>
              <p class="card-text text-white text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, adipisci. Quas quae minima libero atque qui mollitia? Amet, nobis! A ex id doloremque ducimus eius modi dignissimos facere exercitationem vitae?.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card bg-light mb-3 justify-content-center">
            <div class="card-body"  style="background-color: rgb(128, 89, 128);">
              <h5 class="card-title text-white text-center">Ubicación</h5>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114937.54840575215!2d-80.21035427019991!3d25.81022463762155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a6172bfeddb9%3A0x37be1741259463eb!2sMiami%20Beach%2C%20Florida%2C%20EE.%20UU.!5e0!3m2!1ses-419!2scl!4v1645496299057!5m2!1ses-419!2scl" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="text-center text-lg-start text-white" style="background-color: rgb(105, 56, 105);">
    <!-- Grid container -->
    <div class="container p-2 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-2">
            <a href="about.html"><h6 class="text-uppercase mb-4 font-weight-bold">Tus Propiedades</h6></a>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi architecto nulla, maiores nostrum porro, aspernatur, itaque repellendus voluptatibus accusantium recusandae reiciendis nesciunt? Asperiores odio fuga veniam nobis excepturi expedita itaque?
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-2">
            <h6 class="text-uppercase mb-4 font-weight-bold">Servicios</h6>
            <p>
              <a href="sales.html" class="text-white">Ventas de Inmuebles</a>
            </p>
            <p>
              <a href="rent.html" class="text-white">Arriendos de Inmuebles</a>
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-2">
            <a href="contact.html"><h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6></a>
            <p>Agente Evelyn Gomez Frez</p>
            <p><i class="fas fa-home mr-3"></i> Chile, Providencia 10012</p>
            <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i>+569 12345678</p>
          </div>
        </div>
      </section>
      <hr class="my-2">
      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <div class="p-2">
              © 2022 Copyright: Comisión 28135 Evelyn Gomez Frez
            </div>
          </div>
        </div>
      </section>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html> 