<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Tag de Viewport-->
    <meta name="description" content="Puedes contactarnos para mayor información dirección mail y teléfono">
    <meta name="keywords" content="Tus propiedades cuentan con dirección fisica y online contáctanos">
    <link rel="shortcut icon" href="../images/favicon-casa.svg">
    <title>Contacto</title>
  
    <link rel="stylesheet" href="../css/custom.css">
  </head>
<body>
  <header>
    <div class="has-bg-img bg-purple bg-blend-overlay">
      <nav class="navbar navbar-expand-lg navbar-light">
        <!-- style="background-color: rgb(105, 56, 105);" -->
        <a class="nav-brand" href="../index.html"><img class="bg-img m-3 grow" src="../images/favicon-casa.svg" alt="logo" width="70" height="70"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mt-2 mt-lg-0 font-weight-light">
            <li class="nav-item p-2 bd-highlight">
              <a class="nav-link color" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item  p-2 bd-highlight">
              <a class="nav-link color" href="sales.html">Venta</a>
            </li>
            <li class="nav-item p-2 bd-highlight">
              <a class="nav-link color" href="rent.html">Arriendo</a>
            </li>
            <li class="nav-item p-2 bd-highlight">
              <a class="nav-link color" href="about.html">Nosotros</a>
            </li>
            <li class="nav-item p-2 bd-highlight">
              <a class="nav-link active color" aria-current="page" href="contact.html">Contacto</a>
            </li>
          </ul>       
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="container mt-5" style="max-width: 30rem;">
      <div class="card bg-secondary">
        <div class="card-body">
          <h1 class="card-title pb-4 color-text">Formulario de contacto</h1>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label color-text">Ingresa tu email</label>
            <input type="email" class="form-control mb-3" id="exampleFormControlInput1" aria-required="true" placeholder="name@example.com">
            <label for="exampleFormControlInput2" class="form-label color-text">Nombre</label>
            <input type="text" class="form-control mb-3" id="exampleFormControlInput2" aria-required="true">
            <label for="exampleFormControlInput3" class="form-label color-text">Telefono</label>
            <input type="number" class="form-control mb-3" id="exampleFormControlInput3" aria-required="true" placeholder="+569 12345678">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label color-text">Mensaje</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>          
          <button type="submit" class="btn-lg btn-secondary fw-bold shrink text-white" style="background-color: rgb(105, 56, 105);">Enviar</button>
        </div>
        <img src="../images/office1.jpg" class="card-img-bottom" alt="office">
      </div>
    </div>
  </main>
  <footer class="text-center text-lg-start mt-3">
    <!-- Grid container -->
    <div class="container p-2 pb-0">
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-2 noShow">
            <a href="about.html"><h6 class="text-uppercase mb-4 font-weight-bold grow">Tus Propiedades</h6></a>
            <p>
              Brinda un responsable servicio de asesoría, gestión, seguimiento y cumple con la finalización de una compraventa o arriendo de tu propiedad. En todo el proceso te sentirás seguro y tranquilo. Contáctanos.
            </p>
            <hr class="w-100 clearfix d-md-none" />
          </div>
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-2 noShow">
            <h6 class="text-uppercase mb-4 font-weight-bold">Servicios</h6>
            <p>
              <a href="sales.html" class="font-weight-bold grow">Ventas de Inmuebles</a>
            </p>
            <p>
              <a href="rent.html" class="font-weight-bold grow">Arriendos de Inmuebles</a>
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-2">
            <a href="contact.html"><h6 class="text-uppercase mb-4 font-weight-bold grow">Contacto</h6></a>
            <p><i class="bi bi-person-lines-fill mr-3"></i> Agente Evelyn Gomez Frez</p>
            <p><i class="bi bi-house-door mr-3"></i> Chile, Providencia 10012</p>
            <p><i class="bi bi-envelope mr-3"></i> info@gmail.com</p>
            <p><i class="bi bi-whatsapp mr-3"></i> 569 12345678</p>
          </div>
        </div>
      </section>
      <hr class="my-2">
      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <div class="p-2">
              © 2022 Copyright: Comisión 28135 Evelyn Gomez Frez
            </div>
          </div>
        </div>
      </section>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html> 