<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../images/favicon-casa.svg">
  <link rel="stylesheet" href="../style.css">
  <title>TusPropiedades</title>
</head>
<body class="gridContainerRent">
  <header class="headerFlex">
    <a href="../index.html"><img src="../images/favicon-casa.svg" alt="logo"></a>
    <nav >     
      <ul class="liHover">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="sales.html">Venta</a></li>
        <li><a href="rent.html">Arriendo</a></li><!--SUBIR FOTOS DE CASAS-->
        <li><a href="about.html">Nosotros</a></li>
        <li><a href="contact.html">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <main class="hero-image">
    <h1>Galería de Propiedades en Arriendo</h1>
    <h2>Casas</h2>
    <div class="flexContainerImg">
      <div class="imgCardText">
        <a href=""><img src="../images/houses/casa-escaleras.jpeg" alt="casa-antigua">
        <div>
          <a href=""><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem sequi culpa qui iste ullam placeat quos voluptates veniam, modi facere cumque, repudiandae voluptatibus quasi. Tenetur voluptatum veniam id a molestias!</p></a>
        </div>
      </div>
      <div class="imgCardText">
        <img src="../images/houses/casa-int-lujo.jpeg" alt="casa-campo">
        <div>
          <a href=""><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem sequi culpa qui iste ullam placeat quos voluptates veniam, modi facere cumque, repudiandae voluptatibus quasi. Tenetur voluptatum veniam id a molestias!</p></a>
        </div>
      </div>
      <div class="imgCardText">
        <img src="../images/houses/casa-ladrillo.jpeg" alt="casa-mambu">
        <div>
          <a href=""><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem sequi culpa qui iste ullam placeat quos voluptates veniam, modi facere cumque, repudiandae voluptatibus quasi. Tenetur voluptatum veniam id a molestias!</p></a>
        </div>
      </div>
    </div> 
    <h2>Departamentos</h2>
    <div class="flexContainerImg">
      <div class="imgCardText">
        <img src="../images/houses/casa-antigua.jpeg" alt="casa-antigua">
        <div>
          <a href=""><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem sequi culpa qui iste ullam placeat quos voluptates veniam, modi facere cumque, repudiandae voluptatibus quasi. Tenetur voluptatum veniam id a molestias!</p></a>
        </div>
      </div>
      <div class="imgCardText">
        <img src="../images/houses/casa-mambu.jpeg" alt="casa-campo">
        <div>
          <a href=""><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem sequi culpa qui iste ullam placeat quos voluptates veniam, modi facere cumque, repudiandae voluptatibus quasi. Tenetur voluptatum veniam id a molestias!</p></a>
        </div>
      </div>
      <div class="imgCardText">
        <img src="../images/houses/casa-ladrillo.jpeg" alt="casa-mambu">
        <div>
          <a href=""><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem sequi culpa qui iste ullam placeat quos voluptates veniam, modi facere cumque, repudiandae voluptatibus quasi. Tenetur voluptatum veniam id a molestias!</p></a>
        </div>
      </div>
    </div> 
  </main>
  <footer>
    <!--INDICADORES ECONOMICOS -->
    <div class="footer">
      <a href="about.html"><h3>Agente Inmobiliario</h3></a>
      <p>Evelyn Gomez Frez</p>
      <p>Comisión 28135</p>
      <p>+569 999 99 99</p>
      <p>agente@gmail.com</p>
      <a href="contact.html"><img class="imgWsp"  src="../images/whatsapp-icon.svg" alt="wsp"></a>
    </div>
 </footer>
</body>
</html>