<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Tag de Viewport-->
    <meta name="description" content="Tus propiedades puede vender responsable y agilmente tu propiedad">
    <meta name="keywords" content="venta de casas y departamentos">
    <link rel="shortcut icon" href="../images/favicon-casa.svg">
    <title>Ventas</title>
    <link rel="stylesheet" href="../css/custom.css">
  </head>
<body>
  <header>
    <div class="has-bg-img bg-purple bg-blend-overlay">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="nav-brand" href="../index.html"><img class="bg-img m-3 grow" src="../images/favicon-casa.svg" alt="logo" width="70" height="70"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto mb-2 mt-lg-0 blockquote font-weight-light">
            <li class="nav-item p-2 bd-highlight">
              <a class="nav-link color" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item  p-2 bd-highlight">
              <a class="nav-link active color" aria-current="page" href="sales.html">Venta</a>
            </li>
            <li class="nav-item p-2 bd-highlight">
              <a class="nav-link color" href="rent.html">Arriendo</a>
            </li>
            <li class="nav-item p-2 bd-highlight">
              <a class="nav-link color" href="about.html">Nosotros</a>
            </li>
            <li class="nav-item p-2 bd-highlight">
              <a class="nav-link color" href="contact.html">Contacto</a>
            </li>
          </ul>       
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="container pt-5 p-md-5">
      <h1 class="text-center py-3">Galería de Propiedades en Venta</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card shadow-lg p-2 mb-5 bg-white rounded">
            <img src="../images/houses/atardecer.jpg" class="card-img-top" alt="casa-atardecer">
            <div class="card-body" style="background-color: rgb(128, 89, 128);">
              <h5 class="card-title text-white">Casa La Florida</h5>
              <p class="card-text text-white lh-sm">Propiedad ubicada en Condominio Los Álamos, 140mts2.</p>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary mt-2 shrink color-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              UF 5500 mas info...
            </button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel1">Casa La Florida</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body lh-sm">
                    Casa con 3 dormitorios y 2 baños, distribuidos de la siguiente manera: Primer piso amplia cocina independiente, empotrada a gas, muebles, campana y comedor diario, living-comedor, suite principal. Segundo piso 2 dormitorios con baño en pasillo y un sector para oficina o planta libre para libre uso.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary shrink color-button" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card shadow-lg p-2 mb-5 bg-white rounded">
            <img src="../images/houses/campo.jpg" class="card-img-top" alt="casa-campo">
            <div class="card-body" style="background-color: rgb(128, 89, 128);">
              <h5 class="card-title text-white">Casa Peñalolen</h5>
              <p class="card-text text-white lh-sm">Propiedad ubicada en Condominio Antupirén, 250mts2.</p>            
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary mt-2 color-button shrink" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              UF 8500 mas info...
            </button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel2">Casa Peñalolen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close2"></button>
                  </div>
                  <div class="modal-body lh-sm">
                    Casa con 3 dormitorios y 2 baños, distribuidos de la siguiente manera: Primer piso amplia cocina independiente, empotrada a gas, muebles, campana y comedor diario, living-comedor, suite principal. Segundo piso 2 dormitorios con baño en pasillo y un sector para oficina o planta libre para libre uso.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary shrink color-button" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card shadow-lg p-2 mb-5 bg-white rounded">
            <img src="../images/houses/montaña.jpg" class="card-img-top " alt="casa-montaña">
            <div class="card-body" style="background-color: rgb(128, 89, 128);">
              <h5 class="card-title text-white">Casa Providencia</h5>
              <p class="card-text text-white lh-sm">Propiedad ubicada en Antonia Lopez de Bello 110, gran oportunidad, 300mts2.</p>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary mt-2 color-button shrink" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              UF 6000 mas info...
            </button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel3" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel3">Casa Providencia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close3"></button>
                  </div>
                  <div class="modal-body lh-sm">
                    Casa con 3 dormitorios y 2 baños, distribuidos de la siguiente manera: Primer piso amplia cocina independiente, empotrada a gas, muebles, campana y comedor diario, living-comedor, suite principal. Segundo piso 2 dormitorios con baño en pasillo y un sector para oficina o planta libre para libre uso.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary shrink color-button" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card shadow-lg p-2 mb-5 bg-white rounded">
            <img src="../images/houses/edificio.jpg" class="card-img-top " alt="edificio">
            <div class="card-body" style="background-color: rgb(128, 89, 128);">
              <h5 class="card-title text-white">Casa Las Condes</h5>
              <p class="card-text text-white lh-sm">Propiedad ubicada en El Bosque Norte 234, con excelente conectividad, 150mts2.</p>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary mt-2  color-button shrink" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              UF 7000 mas info...
            </button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel4" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel4">Casa Las Condes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close4"></button>
                  </div>
                  <div class="modal-body lh-sm">
                    Casa con 3 dormitorios y 2 baños, distribuidos de la siguiente manera: Primer piso amplia cocina independiente, empotrada a gas, muebles, campana y comedor diario, living-comedor, suite principal. Segundo piso 2 dormitorios con baño en pasillo y un sector para oficina o planta libre para libre uso.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary shrink color-button" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card shadow-lg p-2 mb-5 bg-white rounded">
            <img src="../images/houses/campo2.jpg" class="card-img-top " alt="casa-campo2">
            <div class="card-body" style="background-color: rgb(128, 89, 128);">
              <h5 class="card-title text-white">Parcela Lonquén</h5>
              <p class="card-text text-white lh-sm">Propiedad ubicada en Condominio Las Brisas, camino Lonquén ruta G-10, 5000mts2.</p>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary mt-2 color-button shrink" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              UF 5000 mas info...
            </button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel5" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel5">Parcela Lonquén</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close5"></button>
                  </div>
                  <div class="modal-body lh-sm">
                    Casa con 3 dormitorios y 2 baños, distribuidos de la siguiente manera: Primer piso amplia cocina independiente, empotrada a gas, muebles, campana y comedor diario, living-comedor, suite principal. Segundo piso 2 dormitorios con baño en pasillo y un sector para oficina o planta libre para libre uso.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary shrink color-button" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card shadow-lg p-2 mb-5 bg-white rounded">
            <img src="../images/houses/linea-tren.jpg" class="card-img-top " alt="casa-linea-tren">
            <div class="card-body" style="background-color: rgb(128, 89, 128);">
              <h5 class="card-title text-white">Terreno Algarrobo</h5>
              <p class="card-text text-white lh-sm">Terreno sin casa ubicada en Condominio Los Algarrobinos II, ruta G-190, 10.000mts2.</p>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary mt-2 color-button shrink" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              UF 7500 mas info...
            </button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel6" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel6">Terreno Algarrobo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close6"></button>
                  </div>
                  <div class="modal-body lh-sm">
                    Casa con 3 dormitorios y 2 baños, distribuidos de la siguiente manera: Primer piso amplia cocina independiente, empotrada a gas, muebles, campana y comedor diario, living-comedor, suite principal. Segundo piso 2 dormitorios con baño en pasillo y un sector para oficina o planta libre para libre uso.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary shrink color-button" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-2 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-2 noShow">
            <a href="about.html"><h6 class="text-uppercase mb-4 font-weight-bold grow">Tus Propiedades</h6></a>
            <p class="lh-sm">
              Brinda un responsable servicio de asesoría, gestión, seguimiento y cumple con la finalización de una compraventa o arriendo de tu propiedad. En todo el proceso te sentirás seguro y tranquilo. Contáctanos.
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-2">
            <h6 class="text-uppercase mb-4 font-weight-bold">Servicios</h6>
            <p>
              <a href="sales.html" class="font-weight-bold grow"><i class="bi bi-house-door"></i> Ventas de Inmuebles</a>
            </p>
            <p>
              <a href="rent.html" class="font-weight-bold grow"><i class="bi bi-house-door"></i> Arriendos de Inmuebles</a>
            </p>
            <hr class="w-100 clearfix d-md-none" />
          </div>
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-2 noShow">
            <a href="contact.html"><h6 class="text-uppercase mb-4 font-weight-bold grow">Contacto</h6></a>
            <p><i class="bi bi-person-lines-fill mr-3"></i> Agente Evelyn Gomez Frez</p>
            <p><i class="bi bi-house-door mr-3"></i> Chile, Providencia 10012</p>
            <p><i class="bi bi-envelope mr-3"></i> info@gmail.com</p>
            <a href="https://wa.me/56984487732"><p><i class="bi bi-whatsapp mr-3"></i> 569 12345678</p></a>
          </div>
        </div>
      </section>
      <hr class="my-2 noShow">
      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <div class="p-2">
              © 2022 Copyright: Comisión 28135 Evelyn Gomez Frez
            </div>
          </div>
        </div>
      </section>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>