<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Tag de Viewport-->
    <meta name="description" content="saber mas de nosotros">
    <meta name="keywords" content="casas departamentos arriendos y ventas">
    <link rel="shortcut icon" href="../images/favicon-casa.svg">
    <title>Ventas</title>
    <link rel="stylesheet" href="../sass/custom.css">
  </head>
<body>
  <header>
    <div class="has-bg-img bg-purple bg-blend-overlay">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="nav-brand" href="../index.html"><img class="bg-img m-3 grow" src="../images/favicon-casa.svg" alt="logo" width="70" height="70"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mt-2 mt-lg-0 font-weight-light">
            <li class="nav-item active p-2 bd-highlight">
              <a class="nav-link color" aria-current="page" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item active  p-2 bd-highlight">
              <a class="nav-link color" href="sales.html">Venta</a>
            </li>
            <li class="nav-item active p-2 bd-highlight">
              <a class="nav-link color" href="rent.html">Arriendo</a>
            </li>
            <li class="nav-item active p-2 bd-highlight">
              <a class="nav-link color" href="about.html">Nosotros</a>
            </li>
            <li class="nav-item active p-2 bd-highlight">
              <a class="nav-link color" href="contact.html">Contacto</a>
            </li>
          </ul>       
        </div>
      </nav>
    </div>
  </header>
  <main>
    <h1 class="text-center pt-5 p-md-5">Galería de Propiedades en Ventas</h1>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card shadow-lg p-2 mb-5 bg-white rounded">
            <img src="../images/houses/casa-ladrillo.jpeg" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: rgb(128, 89, 128);">
              <h5 class="card-title text-white">Card title</h5>
              <p class="card-text text-white lh-sm">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary mt-2 shrink text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              UF 5500 mas info...
            </button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body lh-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa praesentium quae sequi, iure minus voluptatem quam similique. Praesentium, quod dolore eius facilis commodi architecto, corporis accusamus minus, nemo corrupti eos!
                    Tempora veniam ut quasi adipisci necessitatibus, dolorem voluptatum quos expedita iste quibusdam fugit iusto itaque commodi nihil blanditiis architecto delectus aut odio. Perferendis autem corrupti porro non? Nam, perspiciatis veniam.
                    Dolores rem accusantium libero adipisci quis earum veniam. Ab nemo accusamus voluptates sequi at ipsum deleniti eius, maxime unde vitae saepe obcaecati culpa iusto nesciunt a maiores, aliquam ratione magni.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary shrink" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-lg p-2 mb-5 bg-white rounded">
            <img src="../images/houses/casa-ladrillo.jpeg" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: rgb(128, 89, 128);">
              <h5 class="card-title text-white">Card title</h5>
              <p class="card-text text-white lh-sm">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary mt-2 shrink" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              UF 8500 mas info...
            </button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body lh-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa praesentium quae sequi, iure minus voluptatem quam similique. Praesentium, quod dolore eius facilis commodi architecto, corporis accusamus minus, nemo corrupti eos!
                    Tempora veniam ut quasi adipisci necessitatibus, dolorem voluptatum quos expedita iste quibusdam fugit iusto itaque commodi nihil blanditiis architecto delectus aut odio. Perferendis autem corrupti porro non? Nam, perspiciatis veniam.
                    Dolores rem accusantium libero adipisci quis earum veniam. Ab nemo accusamus voluptates sequi at ipsum deleniti eius, maxime unde vitae saepe obcaecati culpa iusto nesciunt a maiores, aliquam ratione magni.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-lg p-2 mb-5 bg-white rounded">
            <img src="../images/houses/casa-ladrillo.jpeg" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: rgb(128, 89, 128);">
              <h5 class="card-title text-white">Card title</h5>
              <p class="card-text text-white lh-sm">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary mt-2 shrink" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              UF 6000 mas info...
            </button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body lh-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa praesentium quae sequi, iure minus voluptatem quam similique. Praesentium, quod dolore eius facilis commodi architecto, corporis accusamus minus, nemo corrupti eos!
                    Tempora veniam ut quasi adipisci necessitatibus, dolorem voluptatum quos expedita iste quibusdam fugit iusto itaque commodi nihil blanditiis architecto delectus aut odio. Perferendis autem corrupti porro non? Nam, perspiciatis veniam.
                    Dolores rem accusantium libero adipisci quis earum veniam. Ab nemo accusamus voluptates sequi at ipsum deleniti eius, maxime unde vitae saepe obcaecati culpa iusto nesciunt a maiores, aliquam ratione magni.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-lg p-2 mb-5 bg-white rounded">
            <img src="../images/houses/casa-ladrillo.jpeg" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: rgb(128, 89, 128);">
              <h5 class="card-title text-white">Card title</h5>
              <p class="card-text text-white lh-sm">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary mt-2 shrink" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              UF 7000 mas info...
            </button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body lh-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa praesentium quae sequi, iure minus voluptatem quam similique. Praesentium, quod dolore eius facilis commodi architecto, corporis accusamus minus, nemo corrupti eos!
                    Tempora veniam ut quasi adipisci necessitatibus, dolorem voluptatum quos expedita iste quibusdam fugit iusto itaque commodi nihil blanditiis architecto delectus aut odio. Perferendis autem corrupti porro non? Nam, perspiciatis veniam.
                    Dolores rem accusantium libero adipisci quis earum veniam. Ab nemo accusamus voluptates sequi at ipsum deleniti eius, maxime unde vitae saepe obcaecati culpa iusto nesciunt a maiores, aliquam ratione magni.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-lg p-2 mb-5 bg-white rounded">
            <img src="../images/houses/casa-ladrillo.jpeg" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: rgb(128, 89, 128);">
              <h5 class="card-title text-white">Card title</h5>
              <p class="card-text text-white lh-sm">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary mt-2 shrink" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              UF 5000 mas info...
            </button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body lh-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa praesentium quae sequi, iure minus voluptatem quam similique. Praesentium, quod dolore eius facilis commodi architecto, corporis accusamus minus, nemo corrupti eos!
                    Tempora veniam ut quasi adipisci necessitatibus, dolorem voluptatum quos expedita iste quibusdam fugit iusto itaque commodi nihil blanditiis architecto delectus aut odio. Perferendis autem corrupti porro non? Nam, perspiciatis veniam.
                    Dolores rem accusantium libero adipisci quis earum veniam. Ab nemo accusamus voluptates sequi at ipsum deleniti eius, maxime unde vitae saepe obcaecati culpa iusto nesciunt a maiores, aliquam ratione magni.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-lg p-2 mb-5 bg-white rounded">
            <img src="../images/houses/casa-ladrillo.jpeg" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: rgb(128, 89, 128);">
              <h5 class="card-title text-white">Card title</h5>
              <p class="card-text text-white lh-sm">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary mt-2 shrink" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              UF 7500 mas info...
            </button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body lh-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa praesentium quae sequi, iure minus voluptatem quam similique. Praesentium, quod dolore eius facilis commodi architecto, corporis accusamus minus, nemo corrupti eos!
                    Tempora veniam ut quasi adipisci necessitatibus, dolorem voluptatum quos expedita iste quibusdam fugit iusto itaque commodi nihil blanditiis architecto delectus aut odio. Perferendis autem corrupti porro non? Nam, perspiciatis veniam.
                    Dolores rem accusantium libero adipisci quis earum veniam. Ab nemo accusamus voluptates sequi at ipsum deleniti eius, maxime unde vitae saepe obcaecati culpa iusto nesciunt a maiores, aliquam ratione magni.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-2 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-2">
            <a href="about.html"><h6 class="text-uppercase mb-4 font-weight-bold grow">Tus Propiedades</h6></a>
            <p class="lh-sm">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi architecto nulla, maiores nostrum porro, aspernatur, itaque repellendus voluptatibus accusantium recusandae reiciendis nesciunt? Asperiores odio fuga veniam nobis excepturi expedita itaque?
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-2">
            <h6 class="text-uppercase mb-4 font-weight-bold">Servicios</h6>
            <p>
              <a href="sales.html" class="font-weight-bold grow">Ventas de Inmuebles</a>
            </p>
            <p>
              <a href="rent.html" class="font-weight-bold grow">Arriendos de Inmuebles</a>
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-2">
            <a href="contact.html"><h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6></a>
            <p>Agente Evelyn Gomez Frez</p>
            <p><i class="fas fa-home mr-3"></i> Chile, Providencia 10012</p>
            <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i>+569 12345678</p>
          </div>
        </div>
      </section>
      <hr class="my-2">
      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <div class="p-2">
              © 2022 Copyright: Comisión 28135 Evelyn Gomez Frez
            </div>
          </div>
        </div>
      </section>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>