@mixin size($width, $height){
  height: $height;
  width: $width;
}

.size-picture{
  @include size(100%, auto);
}

div{
  p{
    font-size: $font-size;
  }
}

div{
  label{
    color: map-get($colors, h2);
  }
}

//USO DE MAP DECLARADO EN VARIABLE
nav, footer{
  background-color: map-get($colors, header-footer);
}

h1{
  color: map-get($colors, h1);
  font-size: map-get($display-font-sizes, 2.5);
  background-color: map-get($colors, back);
}

h2, .color-text{
  @include contact;
}

.color-button{
  @include contact;
  
}